@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Staatliches&display=swap');

body {
  background-color: rgb(255, 255, 255);

  a{
    color: rgb(32, 142, 175);
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Staatliches', cursive;
    color: rgb(32, 142, 175);
  }
}

.navbar {
  span {
    font-size: 14px;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

.logo-container {
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  text-align: center;

  h1 {
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
  }
  p {
    font-size: 12px;
    color: gray;
  }
}

.topnav {
  font-size: 12px;

  button {
    font-size: 12px;
    a {
      color: white;
    }
  }
}

.selection {
  float: right;
  width: 90px;
  border-radius: 8px;
  border-color: rgb(32, 142, 175);
  color: rgb(32, 142, 175);
  padding-left: 10px;
  font-size: 12px;
}

.filterbtn {
  float: right;
}

.card {
  height: 520px;
}

.card-body {
  font-size: 13px;

  a {
    font-family: 'Staatliches', cursive;
  }
}

.card-date {
  font-size: 12px;
  color: gray;
}

.card-comments {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 12px;
  }

  a{
    font-size: 13px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 720px ) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 721px) and (max-width: 994px ) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}