<div class="container">
  <select  class="selection" onchange={{action "setSelection" value="target.value"}}>
    <option disabled selected> Month </option>
  </select>

  <ul class="card-container py-5">
      {{#each model as |post|}} {{!-- //model is a list of posts --}}
        <CardPost
        @post={{post}}
        />
      {{/each}}
  </ul>
</div>